# readability-implicit-bool-conversion decrease readability due to SCIP_Bool being an unsigned int
Checks: >-
  bugprone-*,
  cert-*,
  clang-diagnostic-*,
  clang-analyzer-*,
  misc-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  performance-*,
  portability-*,
  readability-*,
  -readability-implicit-bool-conversion
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
AnalyzeTemporaryDtors: false
FormatStyle: file
CheckOptions:
  - key: "misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic"
    value: 1
