# readability-implicit-bool-conversion decrease readability due to SCIP_Bool being an unsigned int
Checks: >-
  cert-*,
  clang-diagnostic-*,
  clang-analyzer-*,
  performance-*,
  readability-*,
  -readability-implicit-bool-conversion
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
AnalyzeTemporaryDtors: false
FormatStyle: file
