version: 2.1


workflows:
  continuous_testing:
    jobs:
      - code_checker
      - build_test:
          name: build_py3.6
          image: "ecoleai/ci-linux-conda-gcc-py3.6"
      - build_test:
          name: build_py3.7
          image: "ecoleai/ci-linux-conda-gcc-py3.7"
          requires:
            - build_py3.6
      - build_test:
          name: build_py3.8
          image: "ecoleai/ci-linux-conda-gcc-py3.8"
          requires:
            - build_py3.6
      - build_test:
          name: build_clang
          image: "ecoleai/ci-linux-src-clang10-py3.8"
          requires:
            - build_py3.6
      - sanitize:
          name: build_asan
          sanitizer: "ADDRESS"
          requires:
            - build_py3.6
      - build_doc:
          requires:
            - build_py3.6
      - deploy_doc:
          requires:
            - build_doc
          filters:
            branches:
              only:
                - "master"
                - '/^v\d+\.\d+\.x/'  # E.g. v4.13.x

  release:
    jobs:
      - check_version:
          filters:  # Only runs on tag such as v3.0.23
            branches:
              ignore: '/.*/'
            tags:
              only: '/^v\d+\.\d+\.\d+/'


# Execute a set of commands in a clean image
jobs:

  build_test:
    parameters:
      image:
        type: string
        default: "ecoleai/ci-linux-conda-gcc-py3.8"
      cmake_options:
        type: string
        default: ""
    docker:
      - image: "<<parameters.image>>"
        auth: &dockerhub_auth
          username: "$DOCKERHUB_USERNAME"
          password: "$DOCKERHUB_PASSWORD"
    steps:
      - checkout
      - build_ecole:
          cmake_options: "<<parameters.cmake_options>>"
      - run:
          name: "Test libecole"
          command: ./build/libecole/tests/test-libecole --abort
      - run:
          name: "Test Python ecole"
          command: build/venv/bin/python -m pytest --exitfirst python/tests

  sanitize:
    parameters:
      sanitizer:
        type: enum
        enum: ["THREAD", "ADDRESS", "MEMORY", "UNDEFINED"]
    docker:
      - image: "ecoleai/ci-linux-conda-gcc-py3.8"
        auth: *dockerhub_auth
    steps:
      - checkout
      - build_ecole:
          cmake_options: "-D SANITIZE_<<parameters.sanitizer>>=ON"
      - run:
          name: "Test libecole"
          command: ./build/libecole/tests/test-libecole
        # Python library cannot be sanitized so far

  code_checker:
    docker:
      - image: "ecoleai/ci-linux-conda-gcc-py3.8"
        auth: *dockerhub_auth
    steps:
      - checkout
      - build_ecole:
          target: ecole-version
      - run_pre_commit

  build_doc:
    docker:
      - image: "ecoleai/ci-linux-conda-gcc-py3.8"
        auth: *dockerhub_auth
    steps:
      - checkout
      - build_ecole:
          cmake_options: "-D ENABLE_DOCUMENTATION=ON -D DOC_WARNINGS_AS_ERRORS=ON -D ENABLE_DOCUMENTATION_TESTING=ON"
          target: "ecole-sphinx"

  deploy_doc:
    parameters:
      deploy_version:
        type: string
        default: "${CIRCLE_BRANCH}"
    docker:
      - image: "ecoleai/ci-linux-conda-gcc-py3.8"
        auth: *dockerhub_auth
    steps:
      - checkout
      # Easier/faster to rebuild than to share a workspace
      - build_ecole:
          cmake_options: "-D ENABLE_DOCUMENTATION=ON"
          target: "ecole-sphinx"
      - deploy_github:
          build_dir: build/docs/sphinx/html
          delete_previous: true
          github_repository: doc.ecole.ai
          repository_subdir: "<<parameters.deploy_version>>"
          git_user: "BotEcole"
          git_email: "BotEcole@users.noreply.github.com"
          ssh_fingerprints: "a9:13:fc:02:79:6c:60:8a:72:b1:c3:87:6c:5e:06:32"

  check_version:
    docker:
      - image: "cimg/base:2020.12"
        auth: *dockerhub_auth
    steps:
      - checkout
      - run:
          name: "Verifiying version file matches tag"
          command: |
            for part in 1 2 3 ; do
              tag_part="$( echo $CIRCLE_TAG | sed s/v// | cut -d '.' -f $part )"
              file_part="$( sed $part'q;d' VERSION |  cut -d ' ' -f 2 )"
              [ $tag_part -eq $file_part ]
            done


# Reusable set of instructions to be used in jobs
commands:

  # Build the entire project
  build_ecole:
    parameters:
      source_dir:
        type: string
        default: "."
      build_dir:
        type: string
        default: build
      cmake_options:
        type: string
        default: ""
      target:
        type: string
        default: all
    description: "Compiling the Ecole project"
    steps:
      - run:
          name: "CMake configure"
          command: >
            cmake -S <<parameters.source_dir>> -B <<parameters.build_dir>>
            -Wdev -Werror=dev
            -D CMAKE_BUILD_TYPE=Release
            -D ECOLE_BUILD_TESTS=ON
            -D ECOLE_BUILD_BENCHMARKS=ON
            -D CMAKE_EXPORT_COMPILE_COMMANDS=ON
            -D ENABLE_PYTHON_VENV=ON
            -D WARNINGS_AS_ERRORS=ON
            <<parameters.cmake_options>>
      - run:
          name: "Symlink compilation database"
          command: ln -s "<<parameters.build_dir>>/compile_commands.json"
      - run:
          name: "CMake build"
          command: "cmake --build build --target <<parameters.target>>"

  run_pre_commit:
    description: "Run pre-commit checks"
    steps:
      - restore_cache:
          keys:
            - &pre_commit_cache_key >-
              precommit-v1.1-{{ arch }}-{{ checksum ".pre-commit-config.yaml" }}
            - precommit-v1.1-{{ arch }}-
      - run:
          environment:
            # Remove parallelism for clang-tidy that goes out of memory otherwise
            PRE_COMMIT_NO_CONCURRENCY: "True"
            PRE_COMMIT_HOME: &pre_commit_cache_dir /cache/precommit
          name: "Run pre-commit checks"
          no_output_timeout: 30m
          command: python -m pre_commit run --all-files
      - save_cache:
          key: *pre_commit_cache_key
          paths:
            - *pre_commit_cache_dir


  # Deploy files to a Github repository
  deploy_github:
    description: |
      Deploy assets to GitHub. Modified from orb
      https://circleci.com/orbs/registry/orb/sugarshin/gh-pages
    parameters:
      build_dir:
        description: Directory with files to deploy
        type: string
      commit_message:
        default: "Automatic deploy of ${COMMIT_HASH} [ci skip]"
        type: string
      delete_previous:
        default: false
        type: boolean
        description: |
          Delete previous files before deploying, making the files in the build directory
          the only ones remaining.
      git_email:
        default: "${CIRCLE_USERNAME}@users.noreply.github.com"
        description: Git email to amke commit.
        type: string
      git_user:
        default: "${CIRCLE_USERNAME}"
        description: Git user to make commit.
        type: string
      github_username:
        default: "${CIRCLE_PROJECT_USERNAME}"
        description: Username of the Github repository to push to.
        type: string
      github_repository:
        default: "${CIRCLE_PROJECT_REPONAME}"
        description: Name of the Github repository to push to.
        type: string
      repository_branch:
        default: "master"
        type: string
        description: Branch of the Github repository to push to.
      repository_subdir:
        default: ""
        type: string
        description: Subdirectory of the deploy repository to push files to.
      setup_git:
        default: true
        description: Setting Git username and email.
        type: boolean
      ssh_fingerprints:
        default: ""
        type: string
        description: |
          Fingerprints for SSH deploy key (add the public key as a read/write key on
          GitHub; add the private key in CircleCI via SSH Permissions, with github.com as
          Hostname). Used to push a git tag back to the project's repository.
      clone_dir:
        default: /tmp/deploy_github
        type: string
        description: The local directory where the repository to deploy to is cloned.
    steps:
      - when:
          condition: "<<parameters.ssh_fingerprints>>"
          steps:
          - add_ssh_keys:
              fingerprints:
              - "<<parameters.ssh_fingerprints>>"
      - when:
          condition: "<<parameters.setup_git>>"
          steps:
            - run:
                name: "Setup git"
                command: |
                  git config --global user.name "<<parameters.git_user>>"
                  git config --global user.email "<<parameters.git_email>>"
      - run:
          name: "Clone repository to deploy to"
          command: |
            readonly USERNAME="<<parameters.github_username>>"
            readonly REPONAME="<<parameters.github_repository>>"
            readonly GIT_URL="git@github.com:${USERNAME}/${REPONAME}.git"
            readonly BRANCH="<<parameters.repository_branch>>"
            readonly DIR="<<parameters.clone_dir>>"
            git clone --depth=1 "${GIT_URL}" -b "${BRANCH}" "${DIR}"
      - when:
          condition: "<<parameters.delete_previous>>"
          steps:
            - run:
                name: "Delete previous files in deploy project."
                command: >
                  rm -rfv "<<parameters.clone_dir>>/<<parameters.repository_subdir>>"
      - run:
          name: "Deploy to GitHub Pages"
          command: |
            readonly COMMIT_HASH=$(git rev-parse --short HEAD)
            readonly MESSAGE="<<parameters.commit_message>>"
            readonly DIR="<<parameters.clone_dir>>/<<parameters.repository_subdir>>"
            cp -R "<<parameters.build_dir>>" "${DIR}"
            cd "${DIR}"
            git add --all
            if git diff --quiet --cached; then
              echo "Nothing to commit"
            else
              git commit -m "${MESSAGE}"
              git push origin
            fi
