name: "Continuous deploy"
on:
  workflow_run:
    workflows: ["Continuous testing"]
    branches: [master]
    types: [completed]

jobs:
  deploy-doc:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with: { fetch-depth: 0 }
      - uses: mamba-org/provision-with-micromamba@v10
        with: { environment-file: dev/conda.yaml }
      - name: "Build documentation."
        shell: bash -l {0}
        run: bash dev/run.sh --fix-pythonpath --build-doc-dir=local/doc/latest configure -- build-doc
      - uses: ./.github/actions/push-to-repo
        with:
          git_email: "BotEcole@users.noreply.github.com"
          git_user: "BotEcole"
          ssh_key: "${{ secrets.BOT_ECOLE_SSH_KEY }}"
          repository: "git@github.com:ds4dm/doc.ecole.ai.git"
          repository_subdir: "py/en"
          local_dir: "local/doc/"
          delete_existing: false
